body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    text-align: center;
    color: #05260b;
    background: linear-gradient(#1ac5eb, #013e98);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100dvh;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    color: darkgreen;
}
h2{
    font-size: 1.5rem;
    margin: 10px;
    font-weight: 700;
    color: rgb(0, 100, 0);
}

a{
    text-decoration: none;
    color: #05260b;
    padding: 1px;
    border: 6px solid #05260b;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0px 20px;
}

.card-box{
    display: flex;
    gap: 10px;
    padding: 5px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    min-width: min-content;
    max-width: 400px;
    height: fit-content;
    padding: 10px;
    background-color: rgba(250, 255, 250, 0.2);
}

.link-list{
    gap: 3px
}

.btn-box{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.icon-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 25px;
    padding: 20px;
}

.icon {
    border: 0px;
}

.icon i {
    font-size: 2.5rem;
    color: #05260b;
    --fa-border-color: #05260b;
    --fa-border-width: 6px;
    --fa-border-radius: 50%;
}


.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5px;
}

.btn{
    font-weight: 500;
    font-size: 1.5rem;
    padding: 8px, 4px;
    border-radius: 24px;
}

.btn> i{
    font-size: 2rem;
    padding: 1px;
}
.easter-egg{
    color: gold;
    font-size: 2rem;
    font-weight: 700;
}

.active-card{
    background-color: rgba(250, 255, 250, 0.3);
}

.active-btn{
    background-color: darkgreen;
}

.clicked{
    background-color: lightgreen;
    scale: 0.9;
    box-shadow: lightgreen;
}

.hard-mode{
    background: linear-gradient(#FFA500, #4B0000);
}

.no-styling{
    all: initial;
}

@media (800px <= width <= 1280px) {
    .icon-box{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .header{
        flex-direction: column;
        margin: 5px 10px
    }
    .card{
        max-width: 600px;
    }
    .profile{
        width: 100px;
        height: 100px;
    }
    .card-box{
        flex-direction: column;
    }
    .icon-box {
        display: flex;
        justify-content: center;
        gap: 3px;
        flex-direction: row;
    }
    
    .icon> i{
        font-size: 2rem;
    }
    .btn-box{
        flex-direction: column;
    }
}
